[submodule "schemas/sds"]
	path = schemas/sds
	url = https://github.com/DigitalArsenal/spacedatastandards.org.git
[submodule "sdn-js/spaceaware-ui"]
	path = sdn-js/spaceaware-ui
	url = https://github.com/DigitalArsenal/SpaceAware-UI
	branch = main
